html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Yu Gothic",
    "Meiryo",
    sans-serif;
}

/* 全体を縦に並べる */
.mode-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 100%;
  align-items: center;
}

/* 青い角丸ボタン */
.mode-button {
  width: 300vw;
  height: 160vh;

  max-width: 500px;
  max-height: 160px;

  background-color: #2f80ed;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5rem;
  font-weight: bold;
  text-decoration: none;

  border-radius: 20px;
}
