html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

/* Startボタン */
.start-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60vw;
  aspect-ratio: 3 / 1;

  background-color: #2f80ed;
  color: white;
  text-decoration: none;

  font-size: 3rem;
  font-weight: bold;

  border-radius: 20px;

  /* ここを追加 */
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Yu Gothic",
    "Meiryo",
    sans-serif;
}
