/* 画面全体 */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* 中央配置用 */
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* STARTボタン */
#start-button {
  width: 60vw;          /* 画面の5分の3 */
  max-width: 600px;     /* PCでデカくなりすぎない制限 */
  aspect-ratio: 3 / 1; /* 横3：縦1 */
  
  background-color: #1e6cff;
  color: white;
  font-size: 32px;
  font-weight: bold;
  border: none;
  border-radius: 20px;

  cursor: pointer;
}

/* 押したとき */
#start-button:active {
  transform: scale(0.98);
}
