body {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  font-size: 3rem;
  padding: 1.5rem 4rem;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 12px;
}
