* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6vh;
}

/* タイトル */
#title {
  font-size: 4rem;
  text-align: center;
}

/* STARTボタン */
#start {
  font-size: 3rem;
  padding: 1.5vh 10vw;
}

/* 形式選択 */
#mode-select {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

/* 横長ボタン3段 */
.mode {
  width: 100%;
  font-size: 3rem;
  padding: 2.5vh 0;
  border-radius: 12px;
}

/* 非表示 */
.hidden {
  display: none;
}
