* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: sans-serif;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;
}

#word {
  font-size: 4rem;
  text-align: center;
  padding: 0 5vw;
}

#hint {
  font-size: 1rem;
  color: #666;
}
