* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: sans-serif;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;
}

#word {
  font-size: 4rem;
  text-align: center;
  padding: 0 5vw;
}

#controls {
  display: flex;
  gap: 4vw;
}

#controls button {
  font-size: 1.4rem;
  padding: 1.2vh 6vw;

  background: #fff;
  color: #2a4d9b;

  border: 2px solid #2a4d9b;
  border-radius: 14px;

  outline: none;
}

#controls button:active {
  background: rgba(42, 77, 155, 0.12);
}


#hint {
  font-size: 1rem;
  color: #666;
}
